:root {
  --tg-dark-bg: #0e1621;
  --tg-dark-header: #242f3d;
  --tg-dark-modal: #17212b;
  --tg-dark-input: #242f3d;
  --tg-dark-msg-me: #2b5278;
  --tg-dark-msg-other: #182533;
  --tg-dark-border: #3a4a5a;
  --tg-dark-text: #f5f5f5;
  --tg-dark-hour: #8d9aa9;
  --tg-dark-accent: #2b5278;
  --tg-dark-accent-hover: #1f3f5c;
  --tg-dark-white: #ffffff;
  --tg-dark-black: #000000;
  --tg-dark-gray: #8d9aa9;
  --tg-dark-purple: #ab01ff;
  --tg-dark-red: #ff3000;
  --tg-dark-green: #32ff00;
  --tg-dark-cyan: #07fafd;
}

html[data-theme="dark"] {
  --app-bg-image: url('/img/dark.jpg');
  --app-bg-color: var(--tg-dark-bg);
  --app-bg-opacity: 1;

  --modal-input-border: var(--tg-dark-border);
  --modal-bg: var(--tg-dark-modal);
  --input-bg: var(--tg-dark-input);
  --modal-text: var(--tg-dark-text);
  --modal-btn-primary: var(--tg-dark-accent);
  --modal-btn-primary-text: var(--tg-dark-white);

  --header-bg: var(--tg-dark-header);
  --layer-header-text: var(--tg-dark-text);

  --hamburger-bg: var(--tg-dark-accent);
  --hamburger-modal-bg: var(--tg-dark-modal);
  --hamburger-modal-text: var(--tg-dark-text);
  --border-hamburger-modal: var(--tg-dark-border);
  --border-r-hamburger-modal: var(--tg-dark-border);
  --border-top-hamburger-width: 2px;
  --border-top-hamburger-style: solid;
  --border-top-hamburger-color: var(--tg-dark-border);
  --border-right-hamburger-width: 2px;
  --border-right-hamburger-style: solid;
  --border-right-hamburger-color: var(--tg-dark-border);
  --border-left-hamburger-width: 2px;
  --border-left-hamburger-style: solid;
  --border-left-hamburger-color: var(--tg-dark-border);
  --border-bottom-hamburger-width: 2px;
  --border-bottom-hamburger-style: solid;
  --border-bottom-hamburger-color: var(--tg-dark-border);

  --select-mov: var(--tg-dark-accent);
  --select-mov-active: var(--tg-dark-accent-hover);

  --text-modal-add-reac: var(--tg-dark-accent);
  --bg-modal-add-reac: var(--tg-dark-modal);
  --ring-width-add-reac: 3px;
  --ring-color-add-reac: var(--tg-dark-purple);
  --ring-offset-add-reac: 0px;
  --border-top-border-add-reac-width: 2px;
  --border-top-border-add-reac-style: solid;
  --border-top-border-add-reac-color: var(--tg-dark-border);
  --border-right-border-add-reac-width: 2px;
  --border-right-border-add-reac-style: solid;
  --border-right-border-add-reac-color: var(--tg-dark-border);
  --border-left-border-add-reac-width: 2px;
  --border-left-border-add-reac-style: solid;
  --border-left-border-add-reac-color: var(--tg-dark-border);
  --border-bottom-border-add-reac-width: 2px;
  --border-bottom-border-add-reac-style: solid;
  --border-bottom-border-add-reac-color: var(--tg-dark-border);

  --opacity-modal-bg: var(--tg-dark-modal);
  --opacity-modal-text-h2: var(--tg-dark-text);
  --cross-btn-opacity-modal-text: var(--tg-dark-white);
  --slider-bg-opacity: var(--tg-dark-accent);
  --bg-opacity-btn-cross: transparent;
  --bg-opacity-btn-save: var(--tg-dark-accent);
  --text-opacity-btn-save: var(--tg-dark-white);
  --bg-opacity-btn-cancel: transparent;
  --text-opacity-btn-cancel: var(--tg-dark-text);

  --bg-modal-edic: var(--tg-dark-modal);
  --ring-width-edit: 3px;
  --ring-color-edit: var(--tg-dark-purple);
  --ring-offset-edit: 0px;
  --bg-btn-edit-cancel: transparent;
  --text-btn-edit-cancel: var(--tg-dark-text);
  --bg-btn-edit-save: var(--tg-dark-accent);
  --text-btn-edit-save: var(--tg-dark-white);
  --border-top-edit-modal-width: 2px;
  --border-top-edit-modal-style: solid;
  --border-top-edit-modal-color: var(--tg-dark-border);
  --border-right-edit-modal-width: 2px;
  --border-right-edit-modal-style: solid;
  --border-right-edit-modal-color: var(--tg-dark-border);
  --border-left-edit-modal-width: 2px;
  --border-left-edit-modal-style: solid;
  --border-left-edit-modal-color: var(--tg-dark-border);
  --border-bottom-edit-modal-width: 2px;
  --border-bottom-edit-modal-style: solid;
  --border-bottom-edit-modal-color: var(--tg-dark-border);

  --modal-bg-category: var(--tg-dark-accent);
  --modal-bg-category-hover: var(--tg-dark-accent-hover);
  --modal-text-category: var(--tg-dark-white);
  --modal-category-header-bg: var(--tg-dark-header);
  --modal-gategory-header-text: var(--tg-dark-text);
  --border-top-modal-category-header-width: 2px;
  --border-top-modal-category-header-style: solid;
  --border-top-modal-category-header-color: var(--tg-dark-border);
  --border-right-modal-category-header-width: 2px;
  --border-right-modal-category-header-style: solid;
  --border-right-modal-category-header-color: var(--tg-dark-border);
  --border-left-modal-category-header-width: 2px;
  --border-left-modal-category-header-style: solid;
  --border-left-modal-category-header-color: var(--tg-dark-border);
  --border-bottom-modal-category-header-width: 2px;
  --border-bottom-modal-category-header-style: solid;
  --border-bottom-modal-category-header-color: var(--tg-dark-border);

  --border-top-border-opacity-btn-save-width: 2px;
  --border-top-border-opacity-btn-save-style: solid;
  --border-top-border-opacity-btn-save-color: var(--tg-dark-border);
  --border-right-border-opacity-btn-save-width: 2px;
  --border-right-border-opacity-btn-save-style: solid;
  --border-right-border-opacity-btn-save-color: var(--tg-dark-border);
  --border-left-border-opacity-btn-save-width: 2px;
  --border-left-border-opacity-btn-save-style: solid;
  --border-left-border-opacity-btn-save-color: var(--tg-dark-border);
  --border-bottom-border-opacity-btn-save-width: 2px;
  --border-bottom-border-opacity-btn-save-style: solid;
  --border-bottom-border-opacity-btn-save-color: var(--tg-dark-border);

  --border-top-border-opacity-btn-cancel-width: 2px;
  --border-top-border-opacity-btn-cancel-style: solid;
  --border-top-border-opacity-btn-cancel-color: var(--tg-dark-border);
  --border-right-border-opacity-btn-cancel-width: 2px;
  --border-right-border-opacity-btn-cancel-style: solid;
  --border-right-border-opacity-btn-cancel-color: var(--tg-dark-border);
  --border-left-border-opacity-btn-cancel-width: 2px;
  --border-left-border-opacity-btn-cancel-style: solid;
  --border-left-border-opacity-btn-cancel-color: var(--tg-dark-border);
  --border-bottom-border-opacity-btn-cancel-width: 2px;
  --border-bottom-border-opacity-btn-cancel-style: solid;
  --border-bottom-border-opacity-btn-cancel-color: var(--tg-dark-border);

  --text-options-pop-up: var(--tg-dark-text);
  --bg-options-pop-up: var(--tg-dark-modal);
  --text-options-pop-up-hover: var(--tg-dark-white);
  --text-bg-options-pop-up-hover: var(--tg-dark-accent);
  --border-top-border-options-pop-up-width: 2px;
  --border-top-border-options-pop-up-style: solid;
  --border-top-border-options-pop-up-color: var(--tg-dark-border);
  --border-right-border-options-pop-up-width: 2px;
  --border-right-border-options-pop-up-style: solid;
  --border-right-border-options-pop-up-color: var(--tg-dark-border);
  --border-left-border-options-pop-up-width: 2px;
  --border-left-border-options-pop-up-style: solid;
  --border-left-border-options-pop-up-color: var(--tg-dark-border);
  --border-bottom-border-options-pop-up-width: 2px;
  --border-bottom-border-options-pop-up-style: solid;
  --border-bottom-border-options-pop-up-color: var(--tg-dark-border);

  --reactions-bg: var(--tg-dark-modal);
  --scrollbar-bg-reactions: var(--tg-dark-bg);
  --scrollbar-reactions: var(--tg-dark-accent);
  --reactions-pop-up-text: var(--tg-dark-text);
  --reactions-bg-emoji: transparent;
  --reactions-bg-add: var(--tg-dark-accent);
  --border-top-border-reactions-pop-up-width: 2px;
  --border-top-border-reactions-pop-up-style: solid;
  --border-top-border-reactions-pop-up-color: var(--tg-dark-border);
  --border-right-border-reactions-pop-up-width: 2px;
  --border-right-border-reactions-pop-up-style: solid;
  --border-right-border-reactions-pop-up-color: var(--tg-dark-border);
  --border-left-border-reactions-pop-up-width: 2px;
  --border-left-border-reactions-pop-up-style: solid;
  --border-left-border-reactions-pop-up-color: var(--tg-dark-border);
  --border-bottom-border-reactions-pop-up-width: 2px;
  --border-bottom-border-reactions-pop-up-style: solid;
  --border-bottom-border-reactions-pop-up-color: var(--tg-dark-border);

  --msg-me-shadow: none;
  --msg-me-text: var(--tg-dark-text);
  --msg-bg-me: var(--tg-dark-msg-me);
  --border-top-msg-border-me-width: 2px;
  --border-top-msg-border-me-style: solid;
  --border-top-msg-border-me-color: var(--tg-dark-border);
  --border-right-msg-border-me-width: 2px;
  --border-right-msg-border-me-style: solid;
  --border-right-msg-border-me-color: var(--tg-dark-border);
  --border-left-msg-border-me-width: 2px;
  --border-left-msg-border-me-style: solid;
  --border-left-msg-border-me-color: var(--tg-dark-border);
  --border-bottom-msg-border-me-width: 2px;
  --border-bottom-msg-border-me-style: solid;
  --border-bottom-msg-border-me-color: var(--tg-dark-border);

  --modal-theme-header-h2: var(--tg-dark-text);
  --modal-theme-text: var(--tg-dark-text);
  --scrollbar-theme-manager: var(--tg-dark-bg);
  --scrollbar-theme-manager-btn: var(--tg-dark-accent);
  --menu-ple-btn: var(--tg-dark-accent);
  --menu-ple-text: var(--tg-dark-white);
  --border-top-menu-ple-btn-width: 2px;
  --border-top-menu-ple-btn-style: solid;
  --border-top-menu-ple-btn-color: var(--tg-dark-border);
  --border-right-menu-ple-btn-width: 2px;
  --border-right-menu-ple-btn-style: solid;
  --border-right-menu-ple-btn-color: var(--tg-dark-border);
  --border-left-menu-ple-btn-width: 2px;
  --border-left-menu-ple-btn-style: solid;
  --border-left-menu-ple-btn-color: var(--tg-dark-border);
  --border-bottom-menu-ple-btn-width: 2px;
  --border-bottom-menu-ple-btn-style: solid;
  --border-bottom-menu-ple-btn-color: var(--tg-dark-border);
  --menu-ple-text-active: var(--tg-dark-white);
  --menu-ple-btn-bg-active: var(--tg-dark-accent-hover);
  --border-top-menu-ple-btn-active-width: 2px;
  --border-top-menu-ple-btn-active-style: solid;
  --border-top-menu-ple-btn-active-color: var(--tg-dark-border);
  --border-right-menu-ple-btn-active-width: 2px;
  --border-right-menu-ple-btn-active-style: solid;
  --border-right-menu-ple-btn-active-color: var(--tg-dark-border);
  --border-left-menu-ple-btn-active-width: 2px;
  --border-left-menu-ple-btn-active-style: solid;
  --border-left-menu-ple-btn-active-color: var(--tg-dark-border);
  --border-bottom-menu-ple-btn-active-width: 2px;
  --border-bottom-menu-ple-btn-active-style: solid;
  --border-bottom-menu-ple-btn-active-color: var(--tg-dark-border);
  --bg-preview-selected: var(--tg-dark-accent);

  --modal-btn-select: var(--tg-dark-accent);
  --modal-btn-select-text: var(--tg-dark-white);
  --border-top-modal-btn-select-width: 2px;
  --border-top-modal-btn-select-style: solid;
  --border-top-modal-btn-select-color: var(--tg-dark-border);
  --border-right-modal-btn-select-width: 2px;
  --border-right-modal-btn-select-style: solid;
  --border-right-modal-btn-select-color: var(--tg-dark-border);
  --border-left-modal-btn-select-width: 2px;
  --border-left-modal-btn-select-style: solid;
  --border-left-modal-btn-select-color: var(--tg-dark-border);
  --border-bottom-modal-btn-select-width: 2px;
  --border-bottom-modal-btn-select-style: solid;
  --border-bottom-modal-btn-select-color: var(--tg-dark-border);
  --modal-btn-select-text-hover: var(--tg-dark-white);
  --modal-btn-select-hover: var(--tg-dark-accent-hover);
  --border-top-modal-btn-select-hover-width: 2px;
  --border-top-modal-btn-select-hover-style: solid;
  --border-top-modal-btn-select-hover-color: var(--tg-dark-border);
  --border-right-modal-btn-select-hover-width: 2px;
  --border-right-modal-btn-select-hover-style: solid;
  --border-right-modal-btn-select-hover-color: var(--tg-dark-border);
  --border-left-modal-btn-select-hover-width: 2px;
  --border-left-modal-btn-select-hover-style: solid;
  --border-left-modal-btn-select-hover-color: var(--tg-dark-border);
  --border-bottom-modal-btn-select-hover-width: 2px;
  --border-bottom-modal-btn-select-hover-style: solid;
  --border-bottom-modal-btn-select-hover-color: var(--tg-dark-border);

  --msg-bg-other: var(--tg-dark-msg-other);
  --text-color: var(--tg-dark-text);
  --hour-color: var(--tg-dark-hour);
  --hour-color-me: var(--tg-dark-text);
  --border-top-msg-border-other-width: 2px;
  --border-top-msg-border-other-style: solid;
  --border-top-msg-border-other-color: var(--tg-dark-border);
  --border-right-msg-border-other-width: 2px;
  --border-right-msg-border-other-style: solid;
  --border-right-msg-border-other-color: var(--tg-dark-border);
  --border-left-msg-border-other-width: 2px;
  --border-left-msg-border-other-style: solid;
  --border-left-msg-border-other-color: var(--tg-dark-border);
  --border-bottom-msg-border-other-width: 2px;
  --border-bottom-msg-border-other-style: solid;
  --border-bottom-msg-border-other-color: var(--tg-dark-border);

  --badge-bg: inherit;
  --badge-text: var(--tg-dark-text);
  --border-top-badge-width: 2px;
  --border-top-badge-style: solid;
  --border-top-badge-color: var(--tg-dark-border);
  --border-right-badge-width: 2px;
  --border-right-badge-style: solid;
  --border-right-badge-color: var(--tg-dark-border);
  --border-left-badge-width: 2px;
  --border-left-badge-style: solid;
  --border-left-badge-color: var(--tg-dark-border);
  --border-bottom-badge-width: 2px;
  --border-bottom-badge-style: solid;
  --border-bottom-badge-color: var(--tg-dark-border);

  --badge-bg-me: inherit;
  --badge-text-me: var(--tg-dark-text);
  --border-top-badge-me-width: 2px;
  --border-top-badge-me-style: solid;
  --border-top-badge-me-color: var(--tg-dark-border);
  --border-right-badge-me-width: 2px;
  --border-right-badge-me-style: solid;
  --border-right-badge-me-color: var(--tg-dark-border);
  --border-left-badge-me-width: 2px;
  --border-left-badge-me-style: solid;
  --border-left-badge-me-color: var(--tg-dark-border);
  --border-bottom-badge-me-width: 2px;
  --border-bottom-badge-me-style: solid;
  --border-bottom-badge-me-color: var(--tg-dark-border);

  --send-btn-bg: var(--tg-dark-accent);
  --send-btn-text: var(--tg-dark-white);
  --border-top-send-btn-width: 2px;
  --border-top-send-btn-style: solid;
  --border-top-send-btn-color: var(--tg-dark-border);
  --border-right-send-btn-width: 2px;
  --border-right-send-btn-style: solid;
  --border-right-send-btn-color: var(--tg-dark-border);
  --border-left-send-btn-width: 2px;
  --border-left-send-btn-style: solid;
  --border-left-send-btn-color: var(--tg-dark-border);
  --border-bottom-send-btn-width: 2px;
  --border-bottom-send-btn-style: solid;
  --border-bottom-send-btn-color: var(--tg-dark-border);

  --input-container-bg: var(--tg-dark-input);
  --input-ty-bg: var(--tg-dark-input);
  --input-text-color: var(--tg-dark-text);
  --ring-width: 3px;
  --ring-color: var(--tg-dark-purple);
  --ring-offset: 0px;
  --border-top-input-border-width: 2px;
  --border-top-input-border-style: solid;
  --border-top-input-border-color: var(--tg-dark-border);
  --border-right-input-border-width: 2px;
  --border-right-input-border-style: solid;
  --border-right-input-border-color: var(--tg-dark-border);
  --border-left-input-border-width: 2px;
  --border-left-input-border-style: solid;
  --border-left-input-border-color: var(--tg-dark-border);
  --border-bottom-input-border-width: 2px;
  --border-bottom-input-border-style: solid;
  --border-bottom-input-border-color: var(--tg-dark-border);

  --scroll-btn-bg: var(--tg-dark-accent);
  --scroll-btn-text: var(--tg-dark-white);
  --border-top-scroll-btn-width: 2px;
  --border-top-scroll-btn-style: solid;
  --border-top-scroll-btn-color: var(--tg-dark-border);
  --border-right-scroll-btn-width: 2px;
  --border-right-scroll-btn-style: solid;
  --border-right-scroll-btn-color: var(--tg-dark-border);
  --border-left-scroll-btn-width: 2px;
  --border-left-scroll-btn-style: solid;
  --border-left-scroll-btn-color: var(--tg-dark-border);
  --border-bottom-scroll-btn-width: 2px;
  --border-bottom-scroll-btn-style: solid;
  --border-bottom-scroll-btn-color: var(--tg-dark-border);
}