:root {
  --green: #02DF82;
  --green-wa: #025859;
  --radioactive-green: #32FF00;
  --blue-green: #46FFAA;
  --blue: #07FAFD;
  --black: #030F0F;
  --white: #ffffff;
  --gray: #3B546A;
  --blue-black: #041725;
  --dark-blue-black: #030F1D;
}


html[data-theme="reference"] {
  --app-bg-color: var(--black);
  --app-bg-image: url('/img/dark.jpg');
  --app-bg-opacity: 1;
  --text-color: var(--white);
  --scrollbar-theme-manager: var(--black);
  --scrollbar-theme-manager-btn: var(--radioactive-green);
  --select-mov: var(--radioactive-green);
  --select-mov-active: var(--green-wa);
  
  --msg-bg-me: linear-gradient(340deg, var(--blue-green), var(--radioactive-green));
  
  --border-top-msg-border-me-width: none;
  --border-top-msg-border-me-style: none;
  --border-top-msg-border-me-color: none;
  --border-right-msg-border-me-width: none;
  --border-right-msg-border-me-style: none;
  --border-right-msg-border-me-color: none;
  --border-left-msg-border-me-width: none;
  --border-left-msg-border-me-style: none;
  --border-left-msg-border-me-color: none;
  --border-bottom-msg-border-me-width: none;
  --border-bottom-msg-border-me-style: none;
  --border-bottom-msg-border-me-color: none;
  --msg-me-text: var(--gray);
  --hour-color-me: var(--gray);
  --msg-me-shadow: none;
  
  --msg-bg-other: var(--blue-black);
  --border-top-msg-border-other-width: none;
  --border-top-msg-border-other-style: none;
  --border-top-msg-border-other-color: none;
  --border-right-msg-border-other-width: none;
  --border-right-msg-border-other-style: none;
  --border-right-msg-border-other-color: none;
  --border-left-msg-border-other-width: 3px;
  --border-left-msg-border-other-style: solid;
  --border-left-msg-border-other-color: var(--radioactive-green);
  --border-bottom-msg-border-other-width: 2px;
  --border-bottom-msg-border-other-style: solid;
  --border-bottom-msg-border-other-color: var(--radioactive-green);
  --hour-color: var(--gray);
  
  --header-bg: linear-gradient(135deg, var(--black), var(--blue-black));
  --border-top-header-width: none;
  --border-top-header-style: none;
  --border-top-header-color: none;
  --border-right-header-width: none;
  --border-right-header-style: none;
  --border-right-header-color: none;
  --border-left-header-width: none;
  --border-left-header-style: none;
  --border-left-header-color: none;
  --border-bottom-header-width: 4px;
  --border-bottom-header-style: solid;
  --border-bottom-header-color: var(--radioactive-green) ;
  --layer-header-text: var(--radioactive-green);
  
  --input-bg: linear-gradient(135deg, var(--black), var(--blue-black));
  --send-btn-bg: linear-gradient(230deg, var(--blue), var(--blue-green), var(--radioactive-green));
  --ring-width: 3px;
  --ring-color: var(--radioactive-green);
  --ring-offset: 0px;
  --border-top-input-border-width: 2px;
  --border-top-input-border-style: solid;
  --border-top-input-border-color: var(--radioactive-green);
  --border-right-input-border-width: none;
  --border-right-input-border-style: none;
  --border-right-input-border-color: none;
  --border-left-input-border-width: none;
  --border-left-input-border-style: none;
  --border-left-input-border-color: none;
  --border-bottom-input-border-width: none;
  --border-bottom-input-border-style: none;
  --border-bottom-input-border-color: none;
  
  --opacity-modal-bg: linear-gradient(278deg, var(--black), var(--blue-black));
  --opacity-modal-text-h2: var(--radioactive-green);
  --cross-btn-opacity-modal-text: red;
  --bg-opacity-btn-cross: transparent;
  --bg-opacity-btn-save: var(--radioactive-green);
  --text-opacity-btn-save: var(--gray);
  --bg-opacity-btn-cancel: var(--black);
  --text-opacity-btn-cancel: var(--white);
  
  --border-top-border-opacity-btn-save-width: none;
  --border-top-border-opacity-btn-save-style: none;
  --border-top-border-opacity-btn-save-color: none;
  --border-right-border-opacity-btn-save-width: none;
  --border-right-border-opacity-btn-save-style: none;
  --border-right-border-opacity-btn-save-color: none;
  --border-left-border-opacity-btn-save-width: none;
  --border-left-border-opacity-btn-save-style: none;
  --border-left-border-opacity-btn-save-color: none;
  --border-bottom-border-opacity-btn-save-width: none;
  --border-bottom-border-opacity-btn-save-style: none;
  --border-bottom-border-opacity-btn-save-color: none;
  --border-top-border-opacity-btn-cancel-width: none;
  --border-top-border-opacity-btn-cancel-style: none;
  --border-top-border-opacity-btn-cancel-color: none;
  --border-right-border-opacity-btn-cancel-width: none;
  --border-right-border-opacity-btn-cancel-style: none;
  --border-right-border-opacity-btn-cancel-color: none;
  --border-left-border-opacity-btn-cancel-width: none;
  --border-left-border-opacity-btn-cancel-style: none;
  --border-left-border-opacity-btn-cancel-color: none;
  --border-bottom-border-opacity-btn-cancel-width: none;
  --border-bottom-border-opacity-btn-cancel-style: none;
  --border-bottom-border-opacity-btn-cancel-color: none;
  --slider-bg-opacity: var(--green-wa);
  --modal-bg-category-hover: var(--blue-green);
  --modal-bg-category: var(--green-wa);
  --modal-text-category: var(--white);
  
  --modal-bg: linear-gradient(278deg, var(--black), var(--blue-black));
  --modal-text: var(--white);
  --modal-header: var(--white);
  --modal-input-bg: var(--dark-blue-black);
  --modal-input-border: var(--gray);
  --modal-btn-primary: var(--radioactive-green);
  --modal-btn-primary-text: var(--white);
  --bg-theme-header: var(--blue-black);
  --modal-btn-select: var(--blue-green);
  --modal-btn-select-hover: var(--green-wa);
  --modal-btn-select-text: var(--gray);
  --modal-btn-select-text-hover: var(--white);
  --modal-btn-secondary-text: var(--white);
  
  --notification-bg: linear-gradient(240deg, var(--black), var(--blue-black));
  --notification-text: var(--white);
  --notification-border: var(--radioactive-green);
  
  --hamburger-bg: var(--radioactive-green);
  --hamburger-modal-bg: linear-gradient(370deg, var(--blue-black), var(--black));
  --hamburger-modal-text: var(--white);
  --border-top-hamburger-width: 2px;
  --border-top-hamburger-style: solid;
  --border-top-hamburger-color: var(--gray);
  --border-right-hamburger-width: 2px;
  --border-right-hamburger-style: solid;
  --border-right-hamburger-color: var(--radioactive-green);
  --border-left-hamburger-width: 2px;
  --border-left-hamburger-style: solid;
  --border-left-hamburger-color: var(--gray);
  --border-bottom-hamburger-width: 2px;
  --border-bottom-hamburger-style: solid;
  --border-bottom-hamburger-color: var(--radioactive-green);
  
  --bg-modal-edic: linear-gradient(180deg, var(--dark-blue-black), var(--black));
  --border-top-edit-modal-width: 2px;
  --border-top-edit-modal-style: solid;
  --border-top-edit-modal-color: var(--gray);
  --border-right-edit-modal-width: 2px;
  --border-right-edit-modal-style: solid;
  --border-right-edit-modal-color: var(--gray);
  --border-left-edit-modal-width: 2px;
  --border-left-edit-modal-style: solid;
  --border-left-edit-modal-color: var(--gray);
  --border-bottom-edit-modal-width: 2px;
  --border-bottom-edit-modal-style: solid;
  --border-bottom-edit-modal-color: var(--gray);
  --ring-width-edit: 2px;
  --ring-color-edit: var(--radioactive-green);
  --ring-offset-edit: 0px;
  --bg-btn-edit-cancel: none;
  --text-btn-edit-cancel: var(--gray);
  --bg-btn-edit-save: var(--radioactive-green);
  --text-btn-edit-save: var(--white);
  
  --text-modal-add-reac: var(--radioactive-green);
  --bg-modal-add-reac: linear-gradient(240deg, var(--dark-blue-black), var(--blue-black));
  --ring-width-add-reac: 3px;
  --ring-color-add-reac: var(--radioactive-green);
  --ring-offset-add-reac: 0px;
  --border-top-border-add-reac-width: 2px;
  --border-top-border-add-reac-style: solid;
  --border-top-border-add-reac-color: var(--radioactive-green);
  --border-right-border-add-reac-width: 2px;
  --border-right-border-add-reac-style: solid;
  --border-right-border-add-reac-color: var(--radioactive-green);
  --border-left-border-add-reac-width: 2px;
  --border-left-border-add-reac-style: solid;
  --border-left-border-add-reac-color: var(--radioactive-green);
  --border-bottom-border-add-reac-width: 2px;
  --border-bottom-border-add-reac-style: solid;
  --border-bottom-border-add-reac-color: var(--radioactive-green);
  
  --reactions-bg: linear-gradient(380deg, var(--black), var(--blue-black));
  --reactions-pop-up-text: var(--white);
  --reactions-bg-emoji: var(--gray);
  --reactions-bg-add: var(--radioactive-green);
  --scrollbar-bg-reactions: transparent;
  --scrollbar-reactions: var(--radioactive-green);
  --border-top-border-reactions-pop-up-width: none;
  --border-top-border-reactions-pop-up-style: none;
  --border-top-border-reactions-pop-up-color: none;
  --border-right-border-reactions-pop-up-width: 2px;
  --border-right-border-reactions-pop-up-style: solid;
  --border-right-border-reactions-pop-up-color: var(--radioactive-green);
  --border-left-border-reactions-pop-up-width: none;
  --border-left-border-reactions-pop-up-style: none;
  --border-left-border-reactions-pop-up-color: none;
  --border-bottom-border-reactions-pop-up-width: 2px;
  --border-bottom-border-reactions-pop-up-style: solid;
  --border-bottom-border-reactions-pop-up-color: var(--radioactive-green);
  
  --text-options-pop-up: var(--white);
  --bg-options-pop-up: linear-gradient(270deg, var(--black), var(--blue-black));
  --text-options-pop-up-hover: var(--radioactive-green);
  --text-bg-options-pop-up-hover: var(--gray);
  --border-top-border-options-pop-up-width: none;
  --border-top-border-options-pop-up-style: none;
  --border-top-border-options-pop-up-color: none;
  --border-right-border-options-pop-up-width: 2px;
  --border-right-border-options-pop-up-style: solid;
  --border-right-border-options-pop-up-color: var(--radioactive-green);
  --border-left-border-options-pop-up-width: 2px;
  --border-left-border-options-pop-up-style: solid;
  --border-left-border-options-pop-up-color: var(--radioactive-green);
  --border-bottom-border-options-pop-up-width: none;
  --border-bottom-border-options-pop-up-style: none;
  --border-bottom-border-options-pop-up-color: none;

  --modal-category-header-bg: var(--blue-black);
  --modal-gategory-header-text: var(--radioactive-green);
  --border-top-modal-category-header-width: 2px;
  --border-top-modal-category-header-style: solid;
  --border-top-modal-category-header-color: var(--radioactive-green);
  --border-right-modal-category-header-width: 2px;
  --border-right-modal-category-header-style: solid;
  --border-right-modal-category-header-color: var(--radioactive-green);
  --border-left-modal-category-header-width: 2px;
  --border-left-modal-category-header-style: solid;
  --border-left-modal-category-header-color: var(--radioactive-green);
  --border-bottom-modal-category-header-width: 2px;
  --border-bottom-modal-category-header-style: solid;
  --border-bottom-modal-category-header-color: var(--radioactive-green);

  --modal-theme-header-h2: var(--radioactive-green);
  --modal-theme-text: var(--white);
  --menu-ple-btn: var(--blue-black);
  --menu-ple-text: var(--white);
  --border-top-menu-ple-btn-width: 2px;
  --border-top-menu-ple-btn-style: solid;
  --border-top-menu-ple-btn-color: var(--radioactive-green);
  --border-right-menu-ple-btn-width: 2px;
  --border-right-menu-ple-btn-style: solid;
  --border-right-menu-ple-btn-color: var(--radioactive-green);
  --border-left-menu-ple-btn-width: 2px;
  --border-left-menu-ple-btn-style: solid;
  --border-left-menu-ple-btn-color: var(--radioactive-green);
  --border-bottom-menu-ple-btn-width: 2px;
  --border-bottom-menu-ple-btn-style: solid;
  --border-bottom-menu-ple-btn-color: var(--radioactive-green);
  --menu-ple-text-active: var(--white);
  --menu-ple-btn-bg-active: var(--radioactive-green);
  --border-top-menu-ple-btn-active-width: 2px;
  --border-top-menu-ple-btn-active-style: solid;
  --border-top-menu-ple-btn-active-color: var(--radioactive-green);
  --border-right-menu-ple-btn-active-width: 2px;
  --border-right-menu-ple-btn-active-style: solid;
  --border-right-menu-ple-btn-active-color: var(--radioactive-green);
  --border-left-menu-ple-btn-active-width: 2px;
  --border-left-menu-ple-btn-active-style: solid;
  --border-left-menu-ple-btn-active-color: var(--radioactive-green);
  --border-bottom-menu-ple-btn-active-width: 2px;
  --border-bottom-menu-ple-btn-active-style: solid;
  --border-bottom-menu-ple-btn-active-color: var(--radioactive-green);
  --bg-preview-selected: var(--radioactive-green);
  --border-top-modal-btn-select-width: 2px;
  --border-top-modal-btn-select-style: solid;
  --border-top-modal-btn-select-color: var(--radioactive-green);
  --border-right-modal-btn-select-width: 2px;
  --border-right-modal-btn-select-style: solid;
  --border-right-modal-btn-select-color: var(--radioactive-green);
  --border-left-modal-btn-select-width: 2px;
  --border-left-modal-btn-select-style: solid;
  --border-left-modal-btn-select-color: var(--radioactive-green);
  --border-bottom-modal-btn-select-width: 2px;
  --border-bottom-modal-btn-select-style: solid;
  --border-bottom-modal-btn-select-color: var(--radioactive-green);
  --border-top-modal-btn-select-hover-width: 2px;
  --border-top-modal-btn-select-hover-style: solid;
  --border-top-modal-btn-select-hover-color: var(--green-wa);
  --border-right-modal-btn-select-hover-width: 2px;
  --border-right-modal-btn-select-hover-style: solid;
  --border-right-modal-btn-select-hover-color: var(--green-wa);
  --border-left-modal-btn-select-hover-width: 2px;
  --border-left-modal-btn-select-hover-style: solid;
  --border-left-modal-btn-select-hover-color: var(--green-wa);
  --border-bottom-modal-btn-select-hover-width: 2px;
  --border-bottom-modal-btn-select-hover-style: solid;
  --border-bottom-modal-btn-select-hover-color: var(--green-wa);

  --badge-bg: inherit;
  --badge-text: var(--white);
  --border-top-badge-width: 1px;
  --border-top-badge-style: solid;
  --border-top-badge-color: var(--radioactive-green);
  --border-right-badge-width: 1px;
  --border-right-badge-style: solid;
  --border-right-badge-color: var(--radioactive-green);
  --border-left-badge-width: 1px;
  --border-left-badge-style: solid;
  --border-left-badge-color: var(--radioactive-green);
  --border-bottom-badge-width: 1px;
  --border-bottom-badge-style: solid;
  --border-bottom-badge-color: var(--radioactive-green);

  --badge-bg-me: inherit;
  --badge-text-me: var(--white);
  --border-top-badge-me-width: 1px;
  --border-top-badge-me-style: solid;
  --border-top-badge-me-color: var(--radioactive-green);
  --border-right-badge-me-width: 1px;
  --border-right-badge-me-style: solid;
  --border-right-badge-me-color: var(--radioactive-green);
  --border-left-badge-me-width: 1px;
  --border-left-badge-me-style: solid;
  --border-left-badge-me-color: var(--radioactive-green);
  --border-bottom-badge-me-width: 1px;
  --border-bottom-badge-me-style: solid;
  --border-bottom-badge-me-color: var(--radioactive-green);

  --send-btn-text: var(--white);
  --border-top-send-btn-width: 2px;
  --border-top-send-btn-style: solid;
  --border-top-send-btn-color: var(--radioactive-green);
  --border-right-send-btn-width: 2px;
  --border-right-send-btn-style: solid;
  --border-right-send-btn-color: var(--radioactive-green);
  --border-left-send-btn-width: 2px;
  --border-left-send-btn-style: solid;
  --border-left-send-btn-color: var(--radioactive-green);
  --border-bottom-send-btn-width: 2px;
  --border-bottom-send-btn-style: solid;
  --border-bottom-send-btn-color: var(--radioactive-green);

  --input-container-bg: var(--black);
  --input-ty-bg: var(--dark-blue-black);
  --input-text-color: var(--white);

  --scroll-btn-bg: var(--radioactive-green);
  --scroll-btn-text: var(--black);
  --border-top-scroll-btn-width: 2px;
  --border-top-scroll-btn-style: solid;
  --border-top-scroll-btn-color: var(--radioactive-green);
  --border-right-scroll-btn-width: 2px;
  --border-right-scroll-btn-style: solid;
  --border-right-scroll-btn-color: var(--radioactive-green);
  --border-left-scroll-btn-width: 2px;
  --border-left-scroll-btn-style: solid;
  --border-left-scroll-btn-color: var(--radioactive-green);
  --border-bottom-scroll-btn-width: 2px;
  --border-bottom-scroll-btn-style: solid;
  --border-bottom-scroll-btn-color: var(--radioactive-green);

  --border-hamburger-modal: var(--gray);
  --border-r-hamburger-modal: var(--radioactive-green);
}